body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

content {
  height: auto;
  width: 50%;
}

row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
